figure{
    text-align: right;
}
img{
    width: 200px;
    border: black 10px solid;  
}
body{
    background-color: darkgray
}
h2{
    text-align: center
}
p{
    font-size:30px
        
}
aside{
    text-align: center
}

footer{
    font-style: italic
}
nav{
    font-size: 30px
    
}

.banner{
    border: black 4px solid; 
   
    
    h3{
        font-size: 
    }

